<nav class="navbar">
    <a routerLink="/home" *ngIf="isLoggedIn">Home</a>
    <a routerLink="/bmw-sales" *ngIf="isLoggedIn">
        <!-- <img src="../assets/bmw-m-logo-png_seeklogo-278503.png" height="50px" width="50px" alt="BMW Logo"> -->
        Bayerische Motoren Werke AG
    </a> <!-- 👈 show only after login -->
    <a routerLink="/login" *ngIf="!isLoggedIn">Login</a>
    <a routerLink="/signup" *ngIf="!isLoggedIn">Register</a>
    <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
</nav>

<router-outlet></router-outlet>