<div style="width: 280px; margin: 20px auto;">

  <h3>Signup</h3>
  <input [(ngModel)]="username" name="username" placeholder="Username" class="form-control" style="margin-bottom:10px;">
  <input [(ngModel)]="email" name="email" placeholder="Email" class="form-control" style="margin-bottom:10px;">
  <input [(ngModel)]="password" name="password" type="password" placeholder="Password" class="form-control"
    style="margin-bottom:10px;">

  <button class="btn btn-success" style="width:100%;" (click)="signup()">Signup</button>

</div>